<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav  mx-auto">
      <li class="nav-list">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="addProject"> Add Project</a>
      </li>
      <li class="nav-list">
        <a class="nav-link" routerLinkActive="active" routerLink="addTask"> Add Task</a>
      </li>
      <li class="nav-list">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="addUser"> Add User</a>
      </li>
      <li class="nav-list">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="viewTask"> View Task</a>
      </li>
    </ul>
  </div>
</nav>