<html>
<br><br>   
<body class ="container" id="sectionId">
<section  class ="container">
    <div class = "col-6" style="text-align:center; margin-left:20%;">
        <font color ="red"> <strong>Fields marked with * are mandatory if enabled</strong></font>
    </div>      

<form class="form-vertical" [formGroup]="updateTaskForm" (ngSubmit)="formHandler()" novalidate> 
 
  <div class="form-group">  
      <input type="string" formControlName="taskId" class="form-control" id="taskId" hidden>
  </div>


  <label class="control-label col-12" for="project"><strong>Project:</strong></label>      
  <div class="form-group row">  
      <div class ="col-6">
      <input type="string" formControlName="project" class="form-control" id="user" placeholder="Choose the Project" [(ngModel)]="popupProject">
     </div>
  </div>
  <br>

  <div class="form-group row">  
   <label class="control-label col-12" for="task"><strong>Task:*</strong></label>
    <div class="col-6" [ngClass]="{'has-error': updateTaskForm.controls.task.invalid && updateTaskForm.controls.task.dirty,
                                      'has-success': updateTaskForm.controls.task.valid  && updateTaskForm.controls.task.dirty }"  >
              <input type="string" formControlName="task" class="form-control" id="task" placeholder="Enter the name of the task" disbaled>
              </div>  
              <div class="alert-danger col-sm-4" *ngIf="updateTaskForm.controls.task.invalid && updateTaskForm.controls.task.dirty"> 
                  Task field can contain only Alphanumeric Value 
              </div> 
          </div>     
<br>

   <div class="form-group row">  
     
    <div class="col-12">
        <div class="input-group input-group-sm">
            <input type="checkbox" id="enableCheckbox" value="0" (change)="toggleCheckBoxValue()" disabled [checked]="isDisabled" />
            <label class="checkbox-inline" id="enableCheckbox" for="enableCheckbox">&nbsp; <strong>Set Parent Task</strong></label>
          </div>
      </div>
   </div>
   <br>
  <label class="control-label col-12" for="parentTask"><strong>Parent Task:</strong></label>      
  <div class="form-group row">  
      <div class ="col-6">
      <input type="string" formControlName="parentTask" class="form-control" id="user" placeholder="Choose the Parent Task" disabled  [(ngModel)]="parentTask">
     </div>
     <div class="col-6">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">Search </button>  
    </div> 
  </div>
  <br>
      
      <div class="form-group row">  
                  <label class="control-label col-12" for="priority"><strong>Priority*</strong></label>
                  <div class="col-6" [ngClass]="{'has-error': updateTaskForm.controls.priority.invalid && updateTaskForm.controls.priority.dirty,
                                          'has-success': updateTaskForm.controls.priority.valid  && updateTaskForm.controls.priority.dirty }"  >
                  <strong><output id = "put"></output></strong>
                  <br>
                  <input type="range"  min="0" max="30" value="0" step ="1" #priority (change)="setOutput(priority)" formControlName="priority" class="form-control" id="priority" >
                 
              </div>  
          </div>   



  
          <div class="form-group row">  
                  <label class="control-label col-12" for="task"><strong>Start Date*</strong></label>
                  <div class="col-6" [ngClass]="{'has-error': updateTaskForm.controls.startDate.invalid && updateTaskForm.controls.startDate.dirty,
                                          'has-success': updateTaskForm.controls.startDate.valid  && updateTaskForm.controls.startDate.dirty }"  >
                  <input onkeydown="return false"  type="text" bsDatepicker formControlName="startDate" class="form-control" id="startDate" placeholder="Enter Start Date">
                  </div>  
          </div>   
 
          
   <div class="form-group row">  
              <label class="control-label col-12" for="task"><strong>End Date:*</strong></label>
              <div class="col-6" [ngClass]="{'has-error': updateTaskForm.controls.endDate.invalid && updateTaskForm.controls.endDate.dirty,
                                      'has-success': updateTaskForm.controls.endDate.valid  && updateTaskForm.controls.endDate.dirty }"  >
              <input type="text" onkeydown="return false" bsDatepicker formControlName="endDate" class="form-control" id="endDate" placeholder="Enter end Date">
              </div>  
          </div>   

  <label class="control-label col-12" for="user"><strong>User:*</strong></label>      
  <div class="form-group row">  
      <div class ="col-6">
      <input type="string" formControlName="user" class="form-control" id="user" placeholder="Choose the User" disabled [(ngModel)]="popupManager">
     </div>
  </div>

 <br>
 <div class="col-sm-offset-3 col-sm-2 col-md-6">
   <button type="submit" class = "btn btn-success" [disabled]="updateTaskForm.status =='INVALID'" >                       
    Update</button>
    &nbsp;
   <button type="button" (click)="resetForm()" class="btn btn-danger">Cancel</button>
   &nbsp;
   <a routerLink="/viewTask">  <button type="button" class="btn btn-primary">Back </button> </a> 
  </div>
  </form>

<br> <br>   
</section>
</body>
<br>
{{updateTaskForm.controls.value  | json}}
</html>